<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body> {{!-- Este body es el index.hbs, lo que ponga en el index, aparecerá en {{{body}}} --}}
  {{{body}}}
</body>

</html>